<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../Css/Contact/policy.css">
    <title>MUSIC CITY - PRIVACY POLICY</title>
</head>

<body>
    <main>

        <!---------- Menu side ---------->
        <div id="menu_side">
            <h1>MUSIC CITY</h1>
            <div class="playlist">
                <ul class="menu">
                    <li><a href="introduce.html"><span></span><i class="bi bi-exclamation-circle"></i></i>Giới thiệu</a></li>
                    <li><a href="../contact.html"><span></span><i class="bi bi-telephone"></i></i>Liên hệ</a></li>
                    <li><a href="rule.html"><span></span><i class="bi bi-file-earmark-text"></i></i>Thỏa thuận sử dụng</a></li>
                    <li><a href="policy.html" class="active"><span></span><i class="bi bi-shield-check"></i></i>Chính sách bảo mật</a></li>
                </ul>
            </div>
        </div>

        <!---------- Song side ---------->
        <div id="song_side">
            <nav>
                <ul>
                    <li><a href="../../index.html">Khám phá</a></li>
                    <li><a href="../library.html">Thư viện</a></li>
                    <li><a href="../contact.html">Liên hệ với chúng tôi<span></span></a></li>
                </ul>
                <div class="user">
                    <a href="../login.html"><img src="../../Media/Home/Img/Logo.jpg" alt=""></a>
                </div>
            </nav>
            <div class="intro">
                <h4>Chính sách bảo mật cho Music City</h4>
            </div>
            <div class="content">
                <li>
                    <h5>1. Tổng quan<br>
                        <div class="subtitle">
                            Chúng tôi tại Music City cam kết bảo vệ thông tin cá nhân của bạn và tôn trọng quyền riêng tư của bạn. 
                            Chính sách bảo mật này mô tả cách chúng tôi thu thập, sử dụng và bảo vệ thông tin cá nhân của bạn 
                            khi bạn truy cập trang web của chúng tôi. Xin vui lòng đọc kỹ chính sách này để hiểu rõ cách chúng tôi 
                            xử lý thông tin của bạn.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>2. Thông tin thu thập<br>
                        <div class="subtitle">
                            <span>2.1. Thông tin cá nhân</span><br>
                            Chúng tôi có thể thu thập các loại thông tin cá nhân sau đây từ bạn:
                            <div class="target">
                                <span>- Tên và thông tin liên hệ: </span>Để tạo tài khoản và cung cấp thông tin liên lạc với bạn.<br>
                                <span>- Địa chỉ email: </span>Để xác nhận tài khoản, gửi thông báo và hỗ trợ.<br>
                                <span>- Thông tin thanh toán: </span>Nếu bạn mua dịch vụ trả phí, chúng tôi sẽ thu thập 
                                thông tin thanh toán để xử lý giao dịch.<br>
                                <span>- Thông tin đăng nhập: </span>Để xác định bạn khi truy cập trang web.<br>
                                <span>- Địa chỉ IP: </span>Để quản lý trang web và phát hiện hoạt động gian lận.
                            </div>
                            <span>2.2. Thông tin phi cá nhân</span><br>
                            Ngoài thông tin cá nhân, chúng tôi có thể thu thập thông tin phi cá nhân về bạn, bao gồm thông tin về trình duyệt, 
                            thiết bị và hệ điều hành bạn sử dụng để truy cập trang web của chúng tôi.<br>
                            <span>2.3. Cookies</span><br>
                            Chúng tôi sử dụng cookies để cải thiện trải nghiệm của bạn trên trang web của chúng tôi. 
                            Cookies là các tệp nhỏ chứa dữ liệu được lưu trữ trên máy tính của bạn thông qua trình duyệt web. 
                            Chúng tôi sử dụng cookies để:
                            <div class="target">
                                <span>- Theo dõi hoạt động của bạn trên trang web và cung cấp dịch vụ cá nhân hóa.</span><br>
                                <span>- Phân tích dữ liệu để cải thiện trang web và dịch vụ của chúng tôi.</span><br>
                                <span>- Đảm bảo tính bảo mật và an toàn của trang web.</span>
                            </div>
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>3. Mục đích sử dụng thông tin<br>
                        <div class="subtitle">
                            Chúng tôi sử dụng thông tin cá nhân của bạn để:
                            <div class="target">
                                <span>- Cung cấp dịch vụ và quản lý tài khoản của bạn: </span>Để cung cấp dịch vụ âm nhạc, tạo tài khoản, 
                                và quản lý thông tin cá nhân của bạn.<br>
                                <span>- Tương tác và hỗ trợ: </span>Để liên lạc với bạn, trả lời câu hỏi của bạn và cung cấp hỗ trợ.<br>
                                <span>- Cải thiện trải nghiệm: </span>Để cá nhân hóa trải nghiệm của bạn trên trang web của chúng tôi 
                                và cung cấp nội dung và chức năng phù hợp với sở thích của bạn.<br>
                                <span>- Phát triển và cải tiến sản phẩm và dịch vụ: </span>Để nâng cao chất lượng và tính năng 
                                của dịch vụ của chúng tôi.<br>
                                <span>- Bảo vệ an toàn và bảo mật: </span>Để xác định và ngăn chặn hoạt động gian lận, 
                                bất hợp pháp và bảo vệ quyền, tài sản và an toàn của bạn và của Music City.
                            </div>
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>4. Chia sẻ thông tin<br>
                        <div class="subtitle">
                            Chúng tôi cam kết không chia sẻ thông tin cá nhân của bạn với bất kỳ bên thứ ba nào trừ những trường hợp sau đây:
                            <div class="target">
                                <span>- Sự đồng ý của bạn: </span>Khi chúng tôi có sự đồng ý rõ ràng từ bạn để 
                                chia sẻ thông tin cá nhân của bạn với một bên thứ ba cụ thể.<br>
                                <span>- Tuân thủ pháp luật và yêu cầu của cơ quan chính phủ: </span>Khi cần thiết để tuân thủ 
                                pháp luật hoặc yêu cầu của cơ quan chính phủ hoặc để bảo vệ quyền, tài sản hoặc an toàn của Music City 
                                hoặc của người dùng.
                            </div>
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>5. Bảo mật thông tin<br>
                        <div class="subtitle">
                            Chúng tôi áp dụng các biện pháp bảo mật thích hợp để bảo vệ thông tin cá nhân của bạn. 
                            Tuy nhiên, chúng tôi không thể đảm bảo hoàn toàn tính an toàn của dữ liệu truyền qua internet 
                            và không chịu trách nhiệm về mọi sự xâm nhập không mong muốn.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>6. Quyền của bạn<br>
                        <div class="subtitle">
                            Bạn có quyền:
                            <div class="target">
                                <span>- Truy cập và sửa đổi thông tin cá nhân: </span>Bạn có thể truy cập và chỉnh sửa thông tin cá nhân 
                                của mình thông qua tài khoản của bạn trên trang web của chúng tôi.<br>
                                <span>- Rút lại sự đồng ý: </span>Bạn có quyền rút lại sự đồng ý của mình về việc sử dụng thông tin cá nhân 
                                bất cứ lúc nào.<br>
                                <span>- Yêu cầu giới hạn sử dụng thông tin cá nhân: </span>Bạn có thể yêu cầu giới hạn việc sử dụng 
                                thông tin cá nhân của bạn theo một số cách cụ thể.<br>
                                <span>- Xin các dữ liệu cá nhân của bạn: </span>Bạn có quyền yêu cầu sao chép hoặc xin các dữ liệu cá nhân 
                                của bạn để chuyển tới một dịch vụ khác.
                            </div>
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>7. Điều khoản Điều kiện<br>
                        <div class="subtitle">
                            Khi bạn sử dụng trang web của chúng tôi, bạn đồng ý với các điều khoản và điều kiện của chúng tôi. 
                            Xin vui lòng đọc kỹ Điều khoản và Điều kiện trước khi sử dụng trang web của chúng tôi.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>8. Cập nhật Chính sách<br>
                        <div class="subtitle">
                            Chúng tôi có thể cập nhật chính sách bảo mật này từ thời gian này qua thời gian khác để phản ánh các thay đổi trong cách chúng tôi thu thập, sử dụng và bảo vệ thông tin cá nhân. 
                            Xin vui lòng kiểm tra lại chính sách này đều đặn để cập nhật về các thay đổi.
                        </div>
                    </h5>
                </li>
            </div>
        </div>
        

        <!---------- Master play ---------->
        <div id="master_play">
            <h1>Coppyright&copy; by 2200006187 - Lê Tấn Lộc & 2200007523 - Đỗ Nguyễn Gia Huy</h1>
        </div>

    </main>
</body>
</html>