<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../Css/Contact/rule.css">
    <title>MUSIC CITY - TERMS OF USE</title>
</head>

<body>
    <main>

        <!---------- Menu side ---------->
        <div id="menu_side">
            <h1>MUSIC CITY</h1>
            <div class="playlist">
                <ul class="menu">
                    <li><a href="introduce.html"><span></span><i class="bi bi-exclamation-circle"></i></i>Giới thiệu</a></li>
                    <li><a href="../contact.html"><span></span><i class="bi bi-telephone"></i></i>Liên hệ</a></li>
                    <li><a href="rule.html" class="active"><span></span><i class="bi bi-file-earmark-text"></i></i>Thỏa thuận sử dụng</a></li>
                    <li><a href="policy.html"><span></span><i class="bi bi-shield-check"></i></i>Chính sách bảo mật</a></li>
                </ul>
            </div>
        </div>

        <!---------- Song side ---------->
        <div id="song_side">
            <nav>
                <ul>
                    <li><a href="../../index.html">Khám phá</a></li>
                    <li><a href="../library.html">Thư viện</a></li>
                    <li><a href="../contact.html">Liên hệ với chúng tôi<span></span></a></li>
                </ul>
                <div class="user">
                    <a href="../login.html"><img src="../../Media/Home/Img/Logo.jpg" alt=""></a>
                </div>
            </nav>
            <div class="intro">
                <h4>Thỏa thuận sử dụng cho Music City</h4>
            </div>
            <div class="content">
                <li>
                    <h5>1. Điều khoản chung<br>
                        <div class="subtitle">
                            <span>1.1 Chấp nhận Điều khoản: </span>Việc bạn truy cập và sử dụng trang web Music City đồng nghĩa với việc 
                            bạn đồng ý tuân thủ tất cả các điều khoản và điều kiện được quy định trong thỏa thuận này.<br>
                            <span>1.2 Thay đổi điều khoản: </span>Chúng tôi có quyền thay đổi hoặc điều chỉnh các điều khoản này mà không cần 
                            báo trước. Bạn nên kiểm tra định kỳ để cập nhật về các thay đổi này.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>2. Bản quyền và Sử dụng<br>
                        <div class="subtitle">
                            <span>2.1 Bản quyền âm nhạc: </span>Tất cả nội dung âm nhạc trên trang web Music City đều thuộc quyền sở hữu hoặc 
                            được cấp phép cho chúng tôi. Bạn không được sao chép, phát tán hoặc sử dụng nội dung này một cách phi pháp.<br>
                            <span>2.2 Sử dụng cá nhân: </span>Bạn có quyền sử dụng trang web Music City cho mục đích cá nhân và giải trí. 
                            Bất kỳ sử dụng thương mại hoặc phi lợi nhuận nào khác cần có sự chấp thuận bằng văn bản từ chúng tôi.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>3. Tài khoản cá nhân<br>
                        <div class="subtitle">
                            <span>3.1 Đăng ký tài khoản: </span>Để truy cập một số tính năng và dịch vụ trên trang web, 
                            bạn có thể cần đăng ký tài khoản cá nhân và cung cấp thông tin cá nhân chính xác.<br>
                            <span>3.2 Bảo mật tài khoản: </span>Bạn chịu trách nhiệm bảo mật thông tin tài khoản của mình. 
                            Không được chia sẻ thông tin đăng nhập với bất kỳ ai khác.
                    </div>
                    </h5>
                </li>
                <li>
                    <h5>4. Nội dung người dùng<br>
                        <div class="subtitle">
                            <span>4.1 Đăng tải nội dung: </span>Bạn có thể được phép đăng tải nội dung cá nhân lên trang web Music City. 
                            Tuy nhiên, bạn phải đảm bảo rằng nội dung này không vi phạm bất kỳ quyền của bên thứ ba nào.<br>
                            <span>4.2 Quyền của chúng tôi: </span>Chúng tôi có quyền loại bỏ hoặc chỉnh sửa bất kỳ nội dung người dùng nào mà 
                            chúng tôi cho rằng vi phạm điều khoản này hoặc làm ảnh hưởng đến trang web Music City.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>5. Quyền và trách nhiệm của chúng tôi<br>
                        <div class="subtitle">
                            <span>5.1 Cung cấp dịch vụ: </span>Chúng tôi cam kết cung cấp dịch vụ trên trang web Music City 
                            một cách liên tục và đáng tin cậy.<br>
                            <span>5.2 Thay đổi dịch vụ: </span>Chúng tôi có quyền thay đổi hoặc ngừng cung cấp bất kỳ dịch vụ nào 
                            trên trang web này mà không cần báo trước.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>6. Chấm dứt thỏa thuận<br>
                        <div class="subtitle">
                            <span>6.1 Chấm dứt bởi bạn: </span>Bạn có quyền chấm dứt thỏa thuận này bất cứ lúc nào bằng cách 
                            ngừng sử dụng trang web Music City và xóa tài khoản cá nhân của bạn.<br>
                            <span>6.2 Chấm dứt bởi chúng tôi: </span>Chúng tôi có quyền chấm dứt thỏa thuận này và từ chối truy cập của bạn 
                            vào trang web Music City nếu bạn vi phạm bất kỳ điều khoản nào trong thỏa thuận này.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>7. Giới hạn trách nhiệm<br>
                        <div class="subtitle">
                            Trong tối đa phạm vi cho phép theo luật pháp hiện hành, chúng tôi không chịu trách nhiệm đối với bất kỳ thiệt hại 
                            nào phát sinh từ việc sử dụng hoặc không sử dụng trang web Music City.
                        </div>
                    </h5>
                </li>
                <li>
                    <h5>8. Điều khoản cuối cùng<br>
                        <div class="subtitle">
                            <span>8.1 Áp dụng luật pháp: </span>Thỏa thuận này sẽ được điều chỉnh và áp dụng theo luật pháp 
                            của quốc gia chúng tôi đặt trụ sở tại.<br>
                            <span>8.2 Giải quyết tranh chấp: </span>Mọi tranh chấp hoặc khiếu nại liên quan đến thỏa thuận này 
                            sẽ được giải quyết thông qua trọng tài theo quy định của quyền áp dụng.
                        </div>
                    </h5>
                </li>
            </div>
        </div>
        

        <!---------- Master play ---------->
        <div id="master_play">
            <h1>Coppyright&copy; by 2200006187 - Lê Tấn Lộc & 2200007523 - Đỗ Nguyễn Gia Huy</h1>
        </div>
        
    </main>
</body>
</html>