<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../Css/contact.css">
    <title>MUSIC CITY - CONTACT</title>
</head>

<body>
    <main>

        <!---------- Menu side ---------->
        <div id="menu_side">
            <h1>MUSIC CITY</h1>
            <div class="playlist">
                <ul class="menu">
                    <li><a href="Contact/introduce.html"><span></span><i class="bi bi-exclamation-circle"></i></i>Giới thiệu</a></li>
                    <li><a href="contact.html" class="active"><span></span><i class="bi bi-telephone"></i></i>Liên hệ</a></li>
                    <li><a href="Contact/rule.html"><span></span><i class="bi bi-file-earmark-text"></i></i>Thỏa thuận sử dụng</a></li>
                    <li><a href="Contact/policy.html"><span></span><i class="bi bi-shield-check"></i></i>Chính sách bảo mật</a></li>
                </ul>
            </div>
        </div>

        <!---------- Song side ---------->
        <div id="song_side">
            <nav>
                <ul>
                    <li><a href="../index.html">Khám phá</a></li>
                    <li><a href="library.html">Thư viện</a></li>
                    <li><a href="contact.html">Liên hệ với chúng tôi<span></span></a></li>
                </ul>
            
                <div class="user">
                    <a href="login.html"><img src="../Media/Home/Img/Logo.jpg" alt=""></a>
                </div>
            </nav>
            <div class="intro">
                <h4>Liên hệ với chúng tôi</h4>
                <p>Chúng tôi luôn ghi nhận các đóng góp ý kiến của bạn để cải tiến và nâng cấp Music City ngày một hoàn thiện và hữu ích hơn. 
                    Đừng ngại chia sẻ ý tưởng cho chúng tôi.</p>
            </div>
            <form action="">
                <div class="select">
                    <label for="text">Chọn vấn đề bạn cần hỗ trợ:</label><br>
                    <select>
                        <option selected disabled>-- Chọn vấn đề cần liên hệ --</option>
                        <option value="bao_loi">Báo lỗi</option>
                        <option value="gop_y">Góp ý</option>
                        <option value="phat_hanh">Phát hành nội dung</option>
                        <option value="hop_tac">Hợp tác nội dung</option>
                        <option value="khac">Vấn đề khác</option>
                    </select>
                </div>
                <div class="content">
                    <label for="text">Nội dung:</label><br>
                    <textarea type="text" placeholder="Nội dung cần giúp đỡ"></textarea>
                </div>
                <div class="name">
                    <label for="text">Họ tên:</label><br>
                    <input type="text" autocomplete="off">
                </div>
                <div class="email">
                    <label for="text">Email:</label><br>
                    <input type="email" autocomplete="off">
                </div>
                <div class="number">
                    <label for="text">Số điện thoại:</label><br>
                    <input type="tel" autocomplete="off">
                </div>
                    <input type="submit" value="Gửi">
            </form>
        </div>

        <!---------- Master play ---------->
        <div id="master_play">
            <h1>Coppyright&copy; by 2200006187 - Lê Tấn Lộc & 2200007523 - Đỗ Nguyễn Gia Huy</h1>
        </div>

    </main>
</body>
</html>