<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../Css/category.css">
    <title>MUSIC CITY - RAP</title>
</head>

<body>
    <main>

        <!---------- Menu side ---------->
        <div id="menu_side">
            <h1>MUSIC CITY</h1>
            <div class="playlist">
                <ul class="menu">
                    <li><a href="" class="active"><span></span><i class="bi bi-music-note-list"></i> Danh sách phát</a></li>
                    <li><a href=""><span></span><i class="bi bi-music-note-list"></i> Lần nghe gần đây</a></li>
                </ul>
            </div>

            <!---------- Menu song ---------->
            <div class="pop_song">
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="1"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="2"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="3"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="4"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="5"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="6"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="7"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="8"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="9"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
                <li class="songItem">
                    <div class="img_play">
                        <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                        <i class="bi playlistPlay bi-play-circle" id="10"></i>
                    </div>
                    <h5>SONG NAME<br>
                        <div class="subtitle">SUBTITLE</div>
                    </h5>
                </li>
            </div>
        </div>

        <!---------- Song side ---------->
        <div id="song_side">
            <nav>
                <ul>
                    <li><a href="../../index.html">Khám phá</a></li>
                    <li><a href="../library.html">Thư viện<span></span></a></li>
                    <li><a href="../contact.html">Liên hệ với chúng tôi</a></li>
                </ul>
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Bắt đầu hành trình âm nhạc của bạn...">
                    <div class="menu_search">
                        <!-- <a href="" class="card">
                            <img src="../../Media/Lộc_ft_Huy.jpg" alt="">
                            <div class="content">
                                TÊN BÀI HÁT
                                <div class="subtitle">NGHỆ SĨ</div>
                            </div>
                        </a> -->
                    </div>
                </div>
                <div class="user">
                    <a href="../login.html"><img src="../../Media/Home/Img/Logo.jpg" alt=""></a>
                </div>
            </nav>

            <div class="intro">
                <h4>KARIK</h4>
                <div class="buttons">
                    <button>PLAY</button>
                    <button>FOLLOW</button>
                </div>
            </div>

            <!-- Thể loại -->
            <div class="category">
                <div class="content">
                    <h2>Nhạc remix</h2>
                    <div class="scroll_bar">
                        <i class="bi bi-arrow-left" id="art_left"></i>
                        <i class="bi bi-arrow-right" id="art_right"></i>
                    </div>
                </div>

                <div class="item art_bx">
                    <li>
                        <a href="../Remix/japandee.html"><img src="../../Media/Remix/Japandee/Japandee.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Remix/thereon.html"><img src="../../Media/Remix/Thereon/Thereon.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Remix/masew.html"><img src="../../Media/Remix/Masew/Masew.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Remix/nh4t.html"><img src="../../Media/Remix/Nh4t/Nh4t.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Remix/cucak.html"><img src="../../Media/Remix/Cucak/Cucak.jpg" alt=""></a>
                    </li>
                </div>
            </div>
            <div class="category">
                <div class="content">
                    <h2>Nhạc rap</h2>
                    <div class="scroll_bar">
                        <i class="bi bi-arrow-left" id="art_left"></i>
                        <i class="bi bi-arrow-right" id="art_right"></i>
                    </div>
                </div>

                <div class="item art_bx">
                    <li>
                        <a href="bray.html"><img src="../../Media/Rap/B_Ray/B_Ray.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="denvau.html"><img src="../../Media/Rap/Den_Vau/Den_Vau.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="mck.html"><img src="../../Media/Rap/MCK/MCK.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="justatee.html"><img src="../../Media/Rap/Justatee/Justatee.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="karik.html"><img src="../../Media/Rap/Karik/Karik.jpg" alt=""></a>
                    </li>
                </div>
            </div>
            <div class="category">
                <div class="content">
                    <h2>Nhạc lofi</h2>
                    <div class="scroll_bar">
                        <i class="bi bi-arrow-left" id="art_left"></i>
                        <i class="bi bi-arrow-right" id="art_right"></i>
                    </div>
                </div>

                <div class="item art_bx">
                    <li>
                        <a href="../Lofi/freakd.html"><img src="../../Media/Lofi/Freak_D/Freak_D.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Lofi/h2o.html"><img src="../../Media/Lofi/H2O/H2O.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Lofi/1967.html"><img src="../../Media/Lofi/1967/1967.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Lofi/mewmew.html"><img src="../../Media/Lofi/MewMew/MewMew.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Lofi/quanvrox.html"><img src="../../Media/Lofi/Quanvrox/Quanvrox.jpg" alt=""></a>
                    </li>
                </div>
            </div>
            <div class="category">
                <div class="content">
                    <h2>Nhạc ballad</h2>
                    <div class="scroll_bar">
                        <i class="bi bi-arrow-left" id="art_left"></i>
                        <i class="bi bi-arrow-right" id="art_right"></i>
                    </div>
                </div>

                <div class="item art_bx">
                    <li>
                        <a href="../Ballad/thanhhung.html"><img src="../../Media/Ballad/Thanh_Hung/Thanh_Hung.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Ballad/thanhdat.html"><img src="../../Media/Ballad/Thanh_Dat/Thanh_Dat.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Ballad/dinhdung.html"><img src="../../Media/Ballad/Dinh_Dung/Dinh_Dung.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Ballad/mrsiro.html"><img src="../../Media/Ballad/Mr_Siro/Mr_Siro.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="../Ballad/huongly.html"><img src="../../Media/Ballad/Huong_Ly/Huong_Ly.jpg" alt=""></a>
                    </li>
                </div>
            </div>
        </div>

        <!---------- Master play ---------->
        <div id="master_play">
            <div class="wave" id="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>

            <img src="../../Media/Home/Img/Loc_ft_Huy.jpg" alt="" id="poster">
            <h5 id="title">
                RELAX AND CHILL <3
                <div class="subtitle">LỘC ft HUY</div>
            </h5>

            <!-- Control -->
            <div class="icon">
                <i class="bi shuffle bi-music-note-beamed">next</i>
                <i class="bi bi-skip-backward" id="back"></i>
                <i class="bi bi-play" id="masterPlay"></i>
                <i class="bi bi-skip-forward" id="next"></i>
                <a href="" download id="download_music"><i class="bi bi-download"></i></a>
            </div>

            <!-- Bar -->
            <span id="Start">0:00</span>
            <div class="bar">
                <input type="range" id="seek" min="0" max="100">
                <div class="bar2" id="bar2"></div>
                <div class="dot"></div>
            </div>
            <span id="End">0:00</span>
            <div class="vol">
                <i class="bi bi-volume-up" id="vol_icon"></i>
                <input type="range" min="0" max="100" id="vol">
                <div class="vol_bar"></div>
                <div class="dot" id="vol_dot"></div>
            </div>
        </div>

    </main>
    <script src="../../Javascript/Rap/karik.js"></script>
</body>
</html>